<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Make site responsive on mobile/tablet -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="UTF-8">
    <title>Выбор песни</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/star-rating.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="../assets/css/SingingNow.css" media="all" rel="stylesheet" type="text/css"/>
    <!-- <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css"
          integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <h1>Выбор песни</h1>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="newSongs">
        <label class="form-check-label" for="newSongs">
            Только не исполненные мной раньше
        </label>
    </div>
    <div class="btn-group">
        <p>
            <label>Уровень сложности:</label>
            <select>
                <option>1 (Проще простого)</option>
                <option>2 (Для разминки или новичков)</option>
                <option>3 (Для профи)</option>
            </select>
        </p>
        <p>
            <label>Тональность:</label>
            <select>
                <option>Am</option>
                <option>2</option>
                <option>3</option>
            </select>
        </p>
        <p>
            <label>Язык:</label>
            <select>
                <option>Русский</option>
                <option>Английский</option>
                <option>Французский</option>
            </select>
        </p>
        <p>
            <label>Исполнитель:</label>
            <select>
                <option>Mario Collas</option>
                <option>...</option>
                <option>...</option>
            </select>
        </p>
    </div>
    <p>
        <button type="button" class="btn btn-primary">Искать по параметрам</button>
        <button type="button" class="btn btn-success">Мне повезёт</button>
    </p>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Название/Исполнитель/год</th>
            <th scope="col">L</th>
            <th scope="col">Дата последнего исполнения здесь</th>
            <th scope="col">Дата последнего исполнения мной</th>
            <th scope="col">Лучшее исполнение песни</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Casta Diva/Maria Callas/1964</td>
            <td>8</td>
            <td>Ни разу не исполнялась</td>
            <td>Ни разу не исполнялась</td>
            <td>Караоке на Бауманской/12.12.2016/8</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Habanera/Maria Callas/1960</td>
            <td>4</td>
            <td>Три недели назад</td>
            <td>10.05.2017/ Караоке на борисовскизх прудах/4</td>
            <td>Караоке на Бауманской/12.12.2016/8</td>
        </tr>

        </tbody>
    </table>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>